#icon-one{
    text-align: center;
    padding: 170px;
    

}
h1{
    font-style: normal;
    font-size: 55px;
    text-align: center;
    color: aliceblue;

    
}

#top{
text-align: center;

top:50%;
left:50%;
position: absolute;
transform:translate(-50% ,-50%);
/* padding-top:50%; */

}




   

.intro{
    text-align: center;
    color: aliceblue;
    font-size: 15px;
    
    
}
#mouse{
    text-align: center ;
    margin-top: 120px;
   
}
h2 {
    color: black;
    padding-top:  5%;
    font-size: 30px;
    text-align: center;
}
p{
    font-size: 17px;
    text-align: center;
}
h3{
    text-align: center;
    color: aliceblue;
    padding-top: 5%;
    
}

.service{

    background-image: url("../assets/backgrounds/s_image.jpg");
    height: 45vh;
    color: aliceblue;
    
    }
    