#icon-one{
    text-align: center;
    padding: 170px;
    

}
h1{
    font-style: normal;
    font-size: 55px;
    text-align: center;
    color: aliceblue;

    
}
body{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.intro{
    text-align: center;
    color: aliceblue;
    font-size: 15px;
    
    
}
#mouse{
    text-align: center ;
    margin-top: 120px;
   
}